[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
python-multipart = "*"
python-jose = "*"
passlib = "*"
pydantic-i18n = "*"
tr = "*"
fastapi-localization = "*"
python-gettext = "*"
python-i18n = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.fastapi]
extras = [ "all",]
version = "*"
