[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
python-multipart = "*"
alembic = "*"

[packages.python-jose]
extras = ["cryptography"]
version = "*"

[packages.passlib]
extras = ["bcrypt"]
version = "*"
pydantic-i18n = "*"
tr = "*"
fastapi-localization = "*"
python-gettext = "*"
python-i18n = "*"
pipfile = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.fastapi]
extras = [ "all",]
version = "*"
